{% extends './layout.html' %}
{% block title %} 新增新闻 {% endblock %}
{% block head %}
<link rel="stylesheet" href="/style/index.css">
{% endblock %}
{% block content %}
{% include "../components/news/add.html" %}
{% endblock %}
{% block script %}
<script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>

<!-- 支持新语法的用新语法 -->
<script type="module">
    import('http://localhost:3000/scripts/add.js').then((_) => {
        const create = new _.default('#js-add');
        create.fn();
    // console.log(create);
    });
</script>

<!-- 不支持新语法的编译成es5 -->
<script type="nomodule"></script>
<script type="nomodule" src="/scripts/add-bundle.js"></script>
{% endblock %}